<header>
    <div id="follow">
        <ul class="follow-me">
            <li class="twitter"><a href="http://twitter.com/heartherumble/">twitter</a></li>
            <li class="github"><a href="http://github.com/heartherumble/">github</a></li>
            {% if FEED_RSS %}
            <li class="feed"><a href="{{ FEED_DOMAIN}}/{{ FEED_RSS }}">subscribe</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="logo"><h1><a href="/">Riot</a></h1></div>
    <div><a id="follow-link" href="#follow">hear the rumble</a></div>
    <div class="nav">
        <ul>
            <li><a href="{{ SITEURL }}/notebook/">Notebook</a></li>
            <li><a href="{{ SITEURL }}/about-us/">About Us</a></li>
        </ul>
    </div>
</header>
