{% extends "base.html" %}

{% block title %}Notebook - {{ super() }}{% endblock %}

{% block body %}
    <section id="logo-header" class="row first">
        <h1><div class="logo"><a href="/">Riot</a></div></h1>
    </section>
    {% if not articles_page.object_list %}
        <section id="post" class="row post">
            <h3>There are no recent entries.</h3>
        </section>
    {% else %}
    {% for entry in articles_page.object_list %}
        <section id="post-{{ loop.index }}" class="row post">
            <h1><a href="{{ SITEURL }}/{{ entry.url }}" rel="bookmark" title="Permalink to {{ entry.url }}">{{ entry.title }}</a><span class="date">{{ entry.locale_date }}</span>
            </h1>
            {% if entry.tags %}
            <div class="post-info">
                    <ul class="inline-tag-list">
                    {% for tag in entry.tags %}
                        <li><a class="tag" href="{{ SITEURL }}/{{ tag.url }}"><span>{{ tag }}</span></a></li>
                    {% endfor %}
                    </ul>
            </div>
            {% endif %}
            <div class="content clear">{{ entry.content }}</div>
        </section>
    {% endfor %}
    {% endif %}
    {% include 'pagination.html' %}
{% endblock %}
