<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <!--[if IE]><![endif]-->
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title%}{{ title|striptags }}{% if title %} | {% endif %}Riot{% endblock %}</title>
        <meta name="description" content="We are Riot and we do great work.">
        <meta name="keywords" content="riot great work">
        <meta http-equiv="imagetoolbar" content="false">
        <meta name="robots" content="index, follow, noodp">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{{ SITEURL }}/theme/img/icons/favicon.ico">
        <link rel="stylesheet" href="{{ SITEURL }}/theme/type/stylesheet.css">
        {% block css %}
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/base.css">
        {% endblock %}
        <script src="{{ SITEURL }}/theme/js/modernizr.js"></script>
        <!-- IE Fix for HTML5 Tags -->
        <!--[if lt IE 9]>
          <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
        <div id="redline"></div>
        <div id="icons">
            <a href="/notebook/" title="notebook"><span class="notebook">r</span></a>
            <a href="http://github.com/heartherumble" title="github"><span class="github">G</span></a>
            <a href="http://twitter.com/heartherumble" title="twitter"><span class="twitter">t</span></a>
        </div>
        {% block body %}
        <div id="container">
            {% include 'pages/header.html' %}
            <div id="main" class="clear">
                {% if title %}
                    <h1>{{ title }}</h1>
                {% endif %}
                {% block content %}{% endblock %}
            </div>
            {% include 'pages/footer.html' %}
        </div>
        {% endblock %}
        {% block javascript %}{% endblock %}
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-28611875-2']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
    </body>
</html>
