html{
  font-family: "SupriaSansLight";
  font-weight: normal;
  -webkit-font-smoothing: subpixel-antialiased;
  font-size: 62.5%;
}

body { background: #fff; font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif; font-size: 13px; line-height: 18px; color: #555; position: relative; -webkit-font-smoothing: antialiased; }

body {
    background-color:#d5d5d5;
    background:url("../img/bg.gif") repeat scroll 0 0 transparent;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-transition: -webkit-transform .75s cubic-bezier(0.860, 0.000, 0.070, 1.000);
    -moz-transition:  -moz-transform .75s cubic-bezier(0.860, 0.000, 0.070, 1.000);
    -o-transition: -o-transform .75s cubic-bezier(0.860, 0.000, 0.070, 1.000);
    -ms-transition: -ms-transform .75s cubic-bezier(0.860, 0.000, 0.070, 1.000);
    transition:  transform .75s cubic-bezier(0.860, 0.000, 0.070, 1.000);
}

body>*{
    -webkit-transition: -webkit-transform .75s cubic-bezier(0.860, 0.000, 0.070, 1.000);
    -moz-transition:  -moz-transform .75s cubic-bezier(0.860, 0.000, 0.070, 1.000);
    -o-transition: -o-transform .75s cubic-bezier(0.860, 0.000, 0.070, 1.000);
    -ms-transition: -ms-transform .75s cubic-bezier(0.860, 0.000, 0.070, 1.000);
    transition:  transform .75s cubic-bezier(0.860, 0.000, 0.070, 1.000);
}

#redline {
    position: fixed;
    width: 100%;
    height: 10px;
    background: #f00;
    top: 0px;
    left: 0px;
    z-index: 1000;
    -moz-box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.2);
   -webkit-box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.2);
   box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.2);
}

h1{
  /*font-family: "SupriaSansBold", Helvetica, sans-serif;*/
  font-size: 8rem;
  line-height: 9.0rem;
  letter-spacing: -0.025em;
  margin: 50px 0px 40px 0px;
  padding: 0px;
  color: rgba(0,0,0,1);
}

h2{
  /*font-family: "SupriaSansBold", Helvetica, sans-serif;*/
  font-size: 7.0rem;
  line-height: 6.5rem;
  letter-spacing: -0.025em;
  margin: 50px 0px 40px 0px;
  padding: 0px;
  position: relative;
  color: #fff;
  text-shadow: 0 1px #999;
}

h2 span.note {
    float: right;
    font-size: 2rem;
    position: relative;
    right: 10px;
    bottom: 5px;
}

p{
  /*font-family: "SupriaSansLight";*/
  /*color: rgba(240,240,240,1);*/
  font-size: 2.2rem;
  line-height: 3.0rem;
  letter-spacing: 0.045em;
  font-weight: 200;
  margin: 30px 0px 0px -1px;
  color: #444;
}

section{
  border-top: solid 1px rgba(114,115,118,1);
  display: block;
  position: relative;
  margin-bottom: 100px;
  padding: 0px;
}

ul{
  margin: 10px 0 0 0;
  padding: 0px;
  list-style: none;
}

ul li {
    font-weight: 200;
    letter-spacing: 0.05em;
}

#work li h3 {
    color: #f0f0f0;
}

#work li.project {
    border: 1px dotted #F0F0F0;
    padding: 3px 10px;
    font-size: 2rem;
    color: #444;
}

#work li.project a, #work li.project a:visited { color: #444; }
#work li.project a:hover { color: #999; }

#work p{
  margin-bottom: 10px;
}

.logo { float:none; margin: 0px; border-top: none; display: inline-block; }
.logo a {
    display: block;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    margin: 0px;
    height: 80px;
    width: 225px;
    background: url("../img/logo.png") center left no-repeat;
    background-size: 77%;
    background-position: top left;
    cursor: pointer;
}

.container{
  padding: 0px 50px;
}

.row{
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 75px;
}

.row.first { border-top:none; }

.column.first-child, .columns.first-child { margin-left: 0; }
.columns.phone-two.first-child{ margin-left: 0 !important;}

.row .phone-two.columns { width: 47.8% !important; }

footer p { margin: 0 auto; width: 850px; display: block; float:none; text-align: left;}

.error404 p { text-align: center; position: relative; }
.error404 p img {
  width:500px;
  height:331px;
  border-radius: 15px;
}

.error404 em {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
  font-style: normal;
  padding: 0 4px;
}

.error404 .footnote img { width: 15px; height: 15px; }
.error404 .footnote p, .error404 .footnote li  { text-align: left; font-size:1.2rem; }
.error404 sup { vertical-align: super }
.error404 sup a { font-size: 1rem; position: absolute; top: 0; }

